// Include any default variable overrides here (though functions won't be available)
$primary: #a5e2c1;
$secondary: #bf9243;
$dark: #232323;
$light: #969696;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here